/* start of header */
#header {
    background-image: url(../images/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 0;
   }

h1 {
    text-align: left;
    font-family: georgia;
}

h4 {
    text-align: left;
    font-family: georgia;
}

#image {
    background-image: url(../images/image1.png);
    background-size: cover;
}
  
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}
/* end of header */
/* start of row 2 */
.col-lg-6 {
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
/* end of row 2 */
/* start of row 3 */
.container-fluid {
    background-color: black;
}
/* end of row 3 */

div.well {
    background-color: black;
}

#selDataset {
    background-color: black;
}

div.wrapper {
    background-color: black;
}

div.panel-body {
    background-color: black;
}

.list-group-item {
    background-color: black;
}

#filter-btn {
    background-color: black;
}

.panel-default>.panel-heading {
    background-color: black;
}

.we-pp-content {
    color: black;
}

.user-select-none {
    background-color: black;
}

.btn {
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.btn span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.btn:hover span {
padding-right: 25px;
}

.btn:hover span:after {
opacity: 1;
right: 0;
}

.yaxislayer-above {
cursor: pointer;
pointer-events: all;
}
